#!/bin/sh

# Defining variables
block=$1
password="Password"

if [ $block == "db" ] ; then
    # MySQL
    mysql -uroot -p"$password" -e "source ./db/schema.sql" -v -t --default-character-set=utf8
    mysql -uroot -p"$password" -e "source ./db/data.sql" -v -t --default-character-set=utf8
    exit
fi;

# MySQL
mysql -uroot -p"$password" -e "source ./db/schema.sql" -v -t --default-character-set=utf8
mysql -uroot -p"$password" -e "source ./db/data.sql" -v -t --default-character-set=utf8

# Install node.js modules from package.json
npm install --save-dev

# Install bower components
bower install --save --allow-root

# Run gulp
gulp
