.owl-carousel {
  background: transparent;
  box-shadow: 2px 2px 4px rgba(0,0,0,.8);
  height: 400px;
  margin-bottom: 40px;

  .item {
    overflow: hidden;
    position: relative;

    .caption {
      background-color: rgba(0,0,0,.75);
      position: absolute;
      left: 0;
      bottom: 30px;
      color: #fff;
      text-shadow: 2px 2px 1px #000;
      box-shadow: 4px 4px 4px rgba(0,0,0,.5);

      .lead {
        font-size: 28px;
        font-weight: 200;
        margin-bottom: 0;
      }

      a {
        color: lighten($brand-warning, 2%);

        &:hover {
          color: lighten($brand-warning, 10%);
        }
      }

      p {
        font-size: 16px;
        padding: 5px 10px;
        padding-left: 20px;
        margin-bottom: 0;
      }
    }
  }

  img {
    border-radius: 4px;
  }
}

.owl-fade-out {
  -webkit-animation: fadeOut 3s both ease !important;
  -moz-animation: fadeOut 3s both ease !important;
  animation: fadeOut 3s both ease !important;
}

.owl-fade-in {
  -webkit-animation: fadeIn 3s both ease !important;
  -moz-animation: fadeIn 3s both ease !important;
  animation: fadeIn 3s both ease !important;
}
