// Panel
.panel {
  border:        0;
  border-radius: 4px;
  box-shadow:    -6px -6px 20px rgba(0,0,0,.5);
  margin-bottom: $grid-gutter-width;
  padding:       0;

  > .panel-heading {
    border: 0;
  }

  > .list-group {
    > .list-group-item {
      color:   $gray-dark;
      font:    400 #{$font-size-small}/1.3 $font-family-base;
      padding: 20px;

      > a {
        color: $gray-lighter;
      }
    }
  }
}

.panel-heading {
  @extend .text-uppercase;
  box-shadow:  0 3px 2px rgba(0,0,0,.75);
  font:        400 46px/1 $headings-font-family;
  margin:      0;
  padding:     15px 20px;
  position:    relative;
  z-index:     1000;
  text-shadow: 2px 2px 4px rgba(0,0,0,.5);

  small {
    display: block;
    font:    400 12px/1.5 $font-family-base;
  }
}

.panel-body {
  padding: 15px;

  a { color: $gray-light; }
}

.event-date {
  @extend .text-center;
  display:      block;
  font:         400 44px/1 Denial, sans-serif;
  padding-left: 0;

  span {
    @extend .text-warning;
    @extend .text-uppercase;
    @extend .text-center;
    display:   block;
    font-size: 32px;
  }
}

.date {
  @extend .text-warning;
  display:    block;
  font-size:  10px;
  font-style: italic;
}
