/**
 * @section Typography
 * @description Fonts used, size of text, headings
 * -----------------------------------------------------------------------------
 */
@font-face {
    font-family: Denial;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/denial.woff') format('woff'),
        url('../fonts/denial.eot?#iefix') format('embedded-opentype'),
        url('../fonts/denial.ttf') format('truetype'),
        url('../fonts/denial.svg#denialregular') format('svg');
}

@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Sans'),
        local('DroidSans'),
        url('../fonts/droidsans.woff') format('woff');
}

@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: bold;
    src: local('Droid Sans Bold'),
        local('DroidSans-Bold'),
        url('../fonts/droidsans.woff') format('woff');
}

/* Typography
----------------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Denial, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.page-header {
    line-height: 1.2;
    margin: 20px 0 45px;
}
