header {
  background-color: #000;
  margin-top: @navbar-height + 1;
}

.img-logo {
  bottom: 15px;
  height: auto;
  position: absolute;
  width: auto;
  left: 50%;
  z-index: 1010;
}

.featured {
  position: relative;
  background: url(../images/banner/main.jpg);
  height: 350px;
  margin-top: 60px;
}

.carousel {
  > .carousel-inner {
    > .item {
      background-size: cover;
      box-shadow: inset 1px -5px 10px rgba(0,0,0,.6);
    }
  }
}

/*
 * Carousel Fade Plugin
 *
 */
.carousel-fade {
  .item {
    .transition(opacity ease 3s);
  }

  .active.left,
  .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

.banner-01 {
  background: url(../images/banner/banner-01.jpg) no-repeat center center;
}

.banner-02 {
  background: url(../images/banner/banner-02.jpg) no-repeat center center;
}

/* Media Queries
----------------------------------------------------------------------------- */
@media (max-width: 479px) {
  .item {
    height: 185px;
  }

  .img-logo {
    bottom: 0;
    width: 300px;
    margin-left: -150px;
  }
}

@media (min-width: 480px) and (max-width: 517px) {
  .item {
    height: 200px;
  }

  .img-logo {
    bottom: 0;
    width: 320px;
    margin-left: -160px;
  }
}

@media (min-width: 518px) and (max-width: 583px) {
  .item {
    height: 220px;
  }

  .img-logo {
    bottom: 0;
    width: 330px;
    margin-left: -165px;
  }
}

@media (min-width: 584px) and (max-width: 669px) {
  .item {
    height: 250px;
  }

  .img-logo {
    bottom: 0;
    width: 340px;
    margin-left: -170px;
  }
}

@media (min-width: 670px) and (max-width: 767px) {
  .item {
    height: 265px;
  }

  .img-logo {
    bottom: 0;
    width: 350px;
    margin-left: -175px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .item {
    height: 320px;
  }

  .img-logo {
    width: 450px;
    margin-left: -225px;
  }
}

@media (min-width: 992px) and (max-width: 1023px) {
  .item {
    height: 400px;
  }

  .img-logo {
    width: 550px;
    margin-left: -275px;
  }
}

@media (min-width: 1024px) {
  .item {
    height: 550px;
  }

  .img-logo {
    width: 650px;
    margin-left: -325px;
  }
}
