.featured {
  position: relative;
}

.featured {
  background: url(../images/banner/main.jpg);
  height: 450px;
  margin-top: @navbar-height;
}

.img-logo {
  bottom: 30px;
  height: auto;
  position: absolute;
  width: auto;
  left: 50%;
  margin-left: -325px;
}
