.no-padding       { padding: 0; }
.no-padding-right { padding-right: 0; }
.no-padding-left  { padding-left: 0 !important;  }

.no-margin { margin: 0; }
.no-border { border: 0; }
.no-box-shadow { box-shadow: none; }

.fixed-top {
  position: fixed;
  right:    0;
  top:      0;
}

.valign-top    { vertical-align: top;    }
.valign-middle { vertical-align: middle; }
.valign-bottom { vertical-align: bottom; }
