/*
|-------------------------------------------------------------------------------
| main.css
|-------------------------------------------------------------------------------
| Project:      Sociopata
| Developed by: Thiago Braga   thibraga06@gmail.com
| Last change:  05/09/2012
| Description:  Contém os estilos principais e fixos do site
|
*/

/*
|-------------------------------------------------------------------
| Text
|-------------------------------------------------------------------
*/
body {
    font-family: 'Segoe UI', Arial, sans-serif;

    /* text-shadow */
    text-shadow: 0 0 1px #ABABAB
}

/*
|-------------------------------------------------------------------
| Layout
|-------------------------------------------------------------------
*/
body {
    background: #000
        url('../img/bg.jpg')
        top center repeat;
    height: 2000px
}

header {
    height: 300px;
    padding: 25px;
    position: relative;
    z-index: 2
}

footer {
    bottom: 0;
    clear: both;
    color: #FFF;
    font-size: 13px;
    height: 50px;
    padding: 25px;
    position: fixed;
    text-align: center;

    /* text-shadow */
    text-shadow: none
}

a,
a:link,
a:hover,
a:visited,
a:active {
    color: #999
}

.brand {
    background: transparent
        url('../img/logo/logo.png')
        center left no-repeat;
    display: block;
    margin: 0 auto;
    width: 1000px;
    height: 300px
}

.container {
    width: 1010px
}