/*
|-------------------------------------------------------------------------------
| main.css
|-------------------------------------------------------------------------------
| Project:      Sociopata
| Developed by: Thiago Braga   thibraga06@gmail.com
| Last change:  05/09/2012
| Description:  Contém os estilos principais e fixos do site
|
*/

/*
|-------------------------------------------------------------------
| Text
|-------------------------------------------------------------------
*/
body {
	font-family: 'Segoe UI', Arial, sans-serif;

	/* text-shadow */
	text-shadow: 0 0 1px #ABABAB
}

/*
|-------------------------------------------------------------------
| Layout
|-------------------------------------------------------------------
*/
body {
	background: #000
		url('../img/bg.jpg')
		top center repeat
}

header {
	height: 300px;
	padding: 50px 25px 25px;
	position: relative;
	z-index: 2
}

footer {
	color: #FFF;
	font-size: 10px;
	height: 150px;
	line-height: 14px;
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	z-index: 2;

	/* gradient */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 70%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(70%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 70%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 70%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 70%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 70%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );

	/* text-shadow */
	text-shadow: 0 1px 0 #666
}

footer a {
	font-size: 11px;
	text-shadow: none
}

.copyright {
	position: fixed;
	bottom: 25px;
	width: 100%
}

a,
a:link,
a:hover,
a:visited,
a:active {
	color: #999
}

.brand {
	width: 1000px;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -500px;
	margin-top: -150px;
}

.center {
	text-align: center
}

/*
|-------------------------------------------------------------------
| Navbar
|-------------------------------------------------------------------
*/
.navbar-inverse .navbar-inner {
	background: #444444;
	background: -moz-linear-gradient(top,  #444444 0%, #222222 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#222222));
	background: -webkit-linear-gradient(top,  #444444 0%,#222222 100%);
	background: -o-linear-gradient(top,  #444444 0%,#222222 100%);
	background: -ms-linear-gradient(top,  #444444 0%,#222222 100%);
	background: linear-gradient(to bottom,  #444444 0%,#222222 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 );

}

/*
|-------------------------------------------------------------------
| Headings
|-------------------------------------------------------------------
*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;;
	color: #999
}

h1 {
	font-weight: normal
}

/* Faded out hr */
hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

/*
|-------------------------------------------------------------------
| Media Queries
|-------------------------------------------------------------------
*/
@media (max-width: 767px) {
	/*
	body {
			padding-left: 20px;
			padding-right: 20px
	}

	.navbar-fixed-top,
	.navbar-fixed-bottom {
			margin-left: -20px;
			margin-right: -20px
	}

	.container-fluid {
			padding: 0
	}

	.container {
			width: auto
	}

	.row-fluid {
			width: 100%
	}

	.row,
	.thumbnails {
			margin-left: 0
	}

	.thumbnails > li {
			float: none;
			margin-left: 0
	}

	[class*="span"],
	.row-fluid [class*="span"] {
			float: none;
			display: block;
			width: auto;
			margin-left: 0
	}

	.span12,
	.row-fluid .span12 {
			width: 100%;

			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box
	}

	.input-large,
	.input-xlarge,
	.input-xxlarge,
	input[class*="span"],
	select[class*="span"],
	textarea[class*="span"],
	.uneditable-input {
			display: block;
			width: 100%;
			min-height: 30px;

			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box
	}

	.input-prepend input,
	.input-append input,
	.input-prepend input[class*="span"],
	.input-append input[class*="span"] {
			display: inline-block;
			width:auto
	}

	.modal {
			position: fixed;
			top: 20px;
			left: 20px;
			right: 20px;
			width: auto;
			margin: 0
	}

	.modal.fade.in {
			top: auto
	}
	*/
}

@media (max-width: 480px) {
	/*
	.nav-collapse {
			-webkit-transform: translate3d(0, 0, 0)
	}

	.page-header h1 small {
			display: block;
			line-height: 20px
	}

	input[type="checkbox"],
	input[type="radio"] {
			border: 1px solid #CCC
	}

	.form-horizontal .control-group > label {
			float: none;
			width: auto;
			padding-top: 0;
			text-align: left
	}

	.form-horizontal .controls {
			margin-left: 0
	}

	.form-horizontal .control-list {
			padding-top: 0
	}

	.form-horizontal .form-actions {
			padding-left: 10px;
			padding-right: 10px
	}

	.modal {
			top: 10px;
			left: 10px;
			right: 10px
	}

	.modal-header .close {
			padding: 10px;
			margin: -10px
	}

	.carousel-caption {
			position: static
	}
	*/
}

@media (min-width: 768px) and (max-width: 979px) {
	/*
	.row {
			margin-left:-20px;
			zoom:1;
	}

	.row:before,.row:after {
			display:table;
			content:'';
			line-height:0;
	}

	[class*=span] {
			float:left;
			margin-left:20px
	}

	.span11 {
			width:662px;
	}

	.span10 {
			width:600px;
	}

	.span9 {
			width:538px;
	}

	.span8
	{
			width:476px;
	}

	.span7
	{
			width:414px;
	}

	.span6
	{
			width:352px;
	}

	.span5
	{
			width:290px;
	}

	.span4
	{
			width:228px;
	}

	.span3
	{
			width:166px;
	}

	.span2
	{
			width:104px;
	}

	.span1
	{
			width:42px;
	}

	.offset12
	{
			margin-left:764px;
	}

	.offset11
	{
			margin-left:702px;
	}

	.offset10
	{
			margin-left:640px;
	}

	.offset9
	{
			margin-left:578px;
	}

	.offset8
	{
			margin-left:516px;
	}

	.offset7
	{
			margin-left:454px;
	}

	.offset6
	{
			margin-left:392px;
	}

	.offset5
	{
			margin-left:330px;
	}

	.offset4
	{
			margin-left:268px;
	}

	.offset3
	{
			margin-left:206px;
	}

	.offset2
	{
			margin-left:144px;
	}

	.offset1
	{
			margin-left:82px;
	}

	.row-fluid
	{
			width:100%;
			zoom:1;
	}

	.row-fluid:before,.row-fluid:after
	{
			display:table;
			content:"";
			line-height:0;
	}

	.row-fluid [class*=span]
	{
			display:block;
			width:100%;
			min-height:30px;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
			float:left;
			margin-left:2.70923944986%;
	}

	.row-fluid .span12
	{
			width:99.9468085106%;
	}

	.row-fluid .span11
	{
			width:91.383272599%;
	}

	.row-fluid .span10
	{
			width:82.8197366874%;
	}

	.row-fluid .span9
	{
			width:74.2562007758%;
	}

	.row-fluid .span8
	{
			width:65.6926648642%;
	}

	.row-fluid .span7
	{
			width:57.1291289526%;
	}

	.row-fluid .span6
	{
			width:48.565593041%;
	}

	.row-fluid .span5
	{
			width:40.0020571294%;
	}

	.row-fluid .span4
	{
			width:31.4385212178%;
	}

	.row-fluid .span3
	{
			width:22.8749853062%;
	}

	.row-fluid .span2
	{
			width:14.3114493946%;
	}

	.row-fluid .span1
	{
			width:5.74791348301%;
	}

	.row-fluid .offset12
	{
			margin-left:105.4184789%;
	}

	.row-fluid .offset12:first-child
	{
			margin-left:102.656047961%;
	}

	.row-fluid .offset11
	{
			margin-left:96.8549429881%;
	}

	.row-fluid .offset11:first-child
	{
			margin-left:94.0925120489%;
	}

	.row-fluid .offset10
	{
			margin-left:88.2914070765%;
	}

	.row-fluid .offset10:first-child
	{
			margin-left:85.5289761373%;
	}

	.row-fluid .offset9
	{
			margin-left:79.7278711649%;
	}

	.row-fluid .offset9:first-child
	{
			margin-left:76.9654402257%;
	}

	.row-fluid .offset8
	{
			margin-left:71.1643352533%;
	}

	.row-fluid .offset8:first-child
	{
			margin-left:68.4019043141%;
	}

	.row-fluid .offset7
	{
			margin-left:62.6007993417%;
	}

	.row-fluid .offset7:first-child
	{
			margin-left:59.8383684025%;
	}

	.row-fluid .offset6
	{
			margin-left:54.0372634301%;
	}

	.row-fluid .offset6:first-child
	{
			margin-left:51.2748324909%;
	}

	.row-fluid .offset5
	{
			margin-left:45.4737275185%;
	}

	.row-fluid .offset5:first-child
	{
			margin-left:42.7112965793%;
	}

	.row-fluid .offset4
	{
			margin-left:36.9101916069%;
	}

	.row-fluid .offset4:first-child
	{
			margin-left:34.1477606677%;
	}

	.row-fluid .offset3
	{
			margin-left:28.3466556953%;
	}

	.row-fluid .offset3:first-child
	{
			margin-left:25.5842247561%;
	}

	.row-fluid .offset2
	{
			margin-left:19.7831197837%;
	}

	.row-fluid .offset2:first-child
	{
			margin-left:17.0206888445%;
	}

	.row-fluid .offset1
	{
			margin-left:11.2195838721%;
	}

	.row-fluid .offset1:first-child
	{
			margin-left:8.45715293288%;
	}

	.controls-row [class*=span]+[class*=span]
	{
			margin-left:20px;
	}

	input.span12,textarea.span12,.uneditable-input.span12
	{
			width:710px;
	}

	input.span11,textarea.span11,.uneditable-input.span11
	{
			width:648px;
	}

	input.span10,textarea.span10,.uneditable-input.span10
	{
			width:586px;
	}

	input.span9,textarea.span9,.uneditable-input.span9
	{
			width:524px;
	}

	input.span8,textarea.span8,.uneditable-input.span8
	{
			width:462px;
	}

	input.span7,textarea.span7,.uneditable-input.span7
	{
			width:400px;
	}

	input.span6,textarea.span6,.uneditable-input.span6
	{
			width:338px;
	}

	input.span5,textarea.span5,.uneditable-input.span5
	{
			width:276px;
	}

	input.span4,textarea.span4,.uneditable-input.span4
	{
			width:214px;
	}

	input.span3,textarea.span3,.uneditable-input.span3
	{
			width:152px;
	}

	input.span2,textarea.span2,.uneditable-input.span2
	{
			width:90px;
	}

	input.span1,textarea.span1,.uneditable-input.span1
	{
			width:28px;
	}

	.row:after,.row-fluid:after
	{
			clear:both;
	}

	.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container,.span12
	{
			width:724px;
	}

	.row-fluid [class*=span]:first-child,input,textarea,.uneditable-input
	{
			margin-left:0;
	}
	*/
}

@media (min-width: 980px) and (max-width: 1199px) {
	.brand {
		background-size: auto;
	}
}

@media (min-width:1200px) {
	/*
	.row
	{
			margin-left:-30px;
			zoom:1;
	}

	[class*=span]
	{
			float:left;
			margin-left:30px;
	}

	.span11
	{
			width:1070px;
	}

	.span10
	{
			width:970px;
	}

	.span9
	{
			width:870px;
	}

	.span8
	{
			width:770px;
	}

	.span7
	{
			width:670px;
	}

	.span6
	{
			width:570px;
	}

	.span5
	{
			width:470px;
	}

	.span4
	{
			width:370px;
	}

	.span3
	{
			width:270px;
	}

	.span2
	{
			width:170px;
	}

	.span1
	{
			width:70px;
	}

	.offset12
	{
			margin-left:1230px;
	}

	.offset11
	{
			margin-left:1130px;
	}

	.offset10
	{
			margin-left:1030px;
	}

	.offset9
	{
			margin-left:930px;
	}

	.offset8
	{
			margin-left:830px;
	}

	.offset7
	{
			margin-left:730px;
	}

	.offset6
	{
			margin-left:630px;
	}

	.offset5
	{
			margin-left:530px;
	}

	.offset4
	{
			margin-left:430px;
	}

	.offset3
	{
			margin-left:330px;
	}

	.offset2
	{
			margin-left:230px;
	}

	.offset1
	{
			margin-left:130px;
	}

	.row-fluid
	{
			width:100%;
			zoom:1;
	}

	.row-fluid [class*=span]
	{
			display:block;
			width:100%;
			min-height:30px;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
			float:left;
			margin-left:2.51091107474%;
	}

	.row-fluid .span12
	{
			width:99.9468085106%;
	}

	.row-fluid .span11
	{
			width:91.3997999636%;
	}

	.row-fluid .span10
	{
			width:82.8527914166%;
	}

	.row-fluid .span9
	{
			width:74.3057828696%;
	}

	.row-fluid .span8
	{
			width:65.7587743226%;
	}

	.row-fluid .span7
	{
			width:57.2117657756%;
	}

	.row-fluid .span6
	{
			width:48.6647572286%;
	}

	.row-fluid .span5
	{
			width:40.1177486816%;
	}

	.row-fluid .span4
	{
			width:31.5707401346%;
	}

	.row-fluid .span3
	{
			width:23.0237315876%;
	}

	.row-fluid .span2
	{
			width:14.4767230406%;
	}

	.row-fluid .span1
	{
			width:5.92971449354%;
	}

	.row-fluid .offset12
	{
			margin-left:105.021822149%;
	}

	.row-fluid .offset12:first-child
	{
			margin-left:102.457719585%;
	}

	.row-fluid .offset11
	{
			margin-left:96.4748136025%;
	}

	.row-fluid .offset11:first-child
	{
			margin-left:93.9107110384%;
	}

	.row-fluid .offset10
	{
			margin-left:87.9278050555%;
	}

	.row-fluid .offset10:first-child
	{
			margin-left:85.3637024914%;
	}

	.row-fluid .offset9
	{
			margin-left:79.3807965085%;
	}

	.row-fluid .offset9:first-child
	{
			margin-left:76.8166939444%;
	}

	.row-fluid .offset8
	{
			margin-left:70.8337879614%;
	}

	.row-fluid .offset8:first-child
	{
			margin-left:68.2696853973%;
	}

	.row-fluid .offset7
	{
			margin-left:62.2867794144%;
	}

	.row-fluid .offset7:first-child
	{
			margin-left:59.7226768503%;
	}

	.row-fluid .offset6
	{
			margin-left:53.7397708674%;
	}

	.row-fluid .offset6:first-child
	{
			margin-left:51.1756683033%;
	}

	.row-fluid .offset5
	{
			margin-left:45.1927623204%;
	}

	.row-fluid .offset5:first-child
	{
			margin-left:42.6286597563%;
	}

	.row-fluid .offset4
	{
			margin-left:36.6457537734%;
	}

	.row-fluid .offset4:first-child
	{
			margin-left:34.0816512093%;
	}

	.row-fluid .offset3
	{
			margin-left:28.0987452264%;
	}

	.row-fluid .offset3:first-child
	{
			margin-left:25.5346426623%;
	}

	.row-fluid .offset2
	{
			margin-left:19.5517366794%;
	}

	.row-fluid .offset2:first-child
	{
			margin-left:16.9876341153%;
	}

	.row-fluid .offset1
	{
			margin-left:11.0047281324%;
	}

	.row-fluid .offset1:first-child
	{
			margin-left:8.44062556829%;
	}

	input.span12,textarea.span12,.uneditable-input.span12
	{
			width:1156px;
	}

	input.span11,textarea.span11,.uneditable-input.span11
	{
			width:1056px;
	}

	input.span10,textarea.span10,.uneditable-input.span10
	{
			width:956px;
	}

	input.span9,textarea.span9,.uneditable-input.span9
	{
			width:856px;
	}

	input.span8,textarea.span8,.uneditable-input.span8
	{
			width:756px;
	}

	input.span7,textarea.span7,.uneditable-input.span7
	{
			width:656px;
	}

	input.span6,textarea.span6,.uneditable-input.span6
	{
			width:556px;
	}

	input.span5,textarea.span5,.uneditable-input.span5
	{
			width:456px;
	}

	input.span4,textarea.span4,.uneditable-input.span4
	{
			width:356px;
	}

	input.span3,textarea.span3,.uneditable-input.span3
	{
			width:256px;
	}

	input.span2,textarea.span2,.uneditable-input.span2
	{
			width:156px;
	}

	input.span1,textarea.span1,.uneditable-input.span1
	{
			width:56px;
	}

	.thumbnails
	{
			margin-left:-30px;
	}

	.row:before,.row:after,.row-fluid:before,.row-fluid:after
	{
			display:table;
			content:"";
			line-height:0;
	}

	.row:after,.row-fluid:after
	{
			clear:both;
	}

	.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container,.span12
	{
			width:1170px;
	}

	.row-fluid [class*=span]:first-child,input,textarea,.uneditable-input,.row-fluid .thumbnails
	{
			margin-left:0;
	}

	.controls-row [class*=span]+[class*=span],.thumbnails>li
	{
			margin-left:30px;
	}
	*/
}

@media (max-width:979px) {
	/*
	body
	{
			padding-top:0;
	}

	.navbar-fixed-top,.navbar-fixed-bottom
	{
			position:static;
	}

	.navbar-fixed-top
	{
			margin-bottom:20px;
	}

	.navbar-fixed-bottom
	{
			margin-top:20px;
	}

	.navbar-fixed-top .navbar-inner,.navbar-fixed-bottom .navbar-inner
	{
			padding:5px;
	}

	.navbar .container
	{
			width:auto;
			padding:0;
	}

	.navbar .brand
	{
			padding-left:10px;
			padding-right:10px;
			margin:0 0 0 -5px;
	}

	.nav-collapse
	{
			clear:both;
	}

	.nav-collapse .nav
	{
			float:none;
			margin:0 0 10px;
	}

	.nav-collapse .nav>li
	{
			float:none;
	}

	.nav-collapse .nav .nav-header
	{
			color:#555555;
			text-shadow:none;
	}

	.nav-collapse .nav>li>a,.nav-collapse .dropdown-menu a
	{
			font-weight:bold;
			color:#555555;
			-webkit-border-radius:3px;
			-moz-border-radius:3px;
			border-radius:3px;
			padding:9px 15px;
	}

	.nav-collapse .btn
	{
			font-weight:normal;
			-webkit-border-radius:4px;
			-moz-border-radius:4px;
			border-radius:4px;
			padding:4px 10px;
	}

	.nav-collapse .nav>li>a:hover,.nav-collapse .dropdown-menu a:hover
	{
			background-color:#f2f2f2;
	}

	.navbar-inverse .nav-collapse .nav>li>a:hover,.navbar-inverse .nav-collapse .dropdown-menu a:hover
	{
			background-color:#111111;
	}

	.nav-collapse.in .btn-group
	{
			margin-top:5px;
			padding:0;
	}

	.nav-collapse .dropdown-menu
	{
			position:static;
			top:auto;
			left:auto;
			float:none;
			display:block;
			max-width:none;
			background-color:transparent;
			border:none;
			-webkit-border-radius:0;
			-moz-border-radius:0;
			border-radius:0;
			-webkit-box-shadow:none;
			-moz-box-shadow:none;
			box-shadow:none;
			margin:0 15px;
			padding:0;
	}

	.nav-collapse .navbar-form,.nav-collapse .navbar-search
	{
			float:none;
			border-top:1px solid #f2f2f2;
			border-bottom:1px solid #f2f2f2;
			-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
			-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
			box-shadow:inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
			margin:10px 0;
			padding:10px 15px;
	}

	.navbar .nav-collapse .nav.pull-right
	{
			float:none;
			margin-left:0;
	}

	.nav-collapse,.nav-collapse.collapse
	{
			overflow:hidden;
			height:0;
	}

	.navbar .btn-navbar
	{
			display:block;
	}

	.navbar-static .navbar-inner
	{
			padding-left:10px;
			padding-right:10px;
	}

	.nav-collapse .nav>li>a,.nav-collapse .dropdown-menu li+li a
	{
			margin-bottom:2px;
	}

	.nav-collapse .nav>.divider-vertical,.nav-collapse .dropdown-menu:before,.nav-collapse .dropdown-menu:after,.nav-collapse .dropdown-menu .divider
	{
			display:none;
	}
	*/
}

@media (min-width:980px) {
	/*
	.nav-collapse.collapse
	{
			height:auto!important;
			overflow:visible!important;
	}
	*/
}